.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  background: whitesmoke;
  font-size: 24px;
  justify-content: center;
  font-family: "Ubuntu", sans-serif;
  overflow-y: hidden;
}
.login .login-sign {
  padding: 2em 1em;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 350px) {
  .login .login-sign {
    padding: 0;
  }
}
.login .login-title {
  text-align: center;
  margin: 0;
  font-size: 1.5em;
  width: 100%;
}
.login .login-body {
  position: relative;
  min-width: 300px;
}
@media only screen and (max-width: 320px) {
  .login .login-body {
    min-width: auto;
    width: 100%;
    max-width: 100%;
  }
}

.login-form {
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}
.login-form .login-form-error {
  position: absolute;
  right: 12px;
  top: calc(50% - 9px);
  height: 18px;
  color: #e32636;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-form .login-form-error .alert {
  width: 18px;
  height: 18px;
}
.login-form .login-form-input {
  border-radius: 6px;
  border: 2px solid grey;
}
.login-form .login-form-input-error {
  border-radius: 6px;
  border: 2px solid #e32636;
}
.login-form input {
  outline: none;
  color: gray;
}
.login-form #submit {
  background: #888888;
  border-radius: 6px;
  color: white;
}
.login-form input, .login-form button {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  font-size: 18px;
  padding: 6px 12px;
  box-sizing: border-box;
  width: 100%;
}
.login-form #submit, .login-form #nickname {
  min-width: 100%;
}
.login-form .submit-btn {
  position: relative;
  align-items: center;
  cursor: pointer;
}
.login-form .submit-btn .log-in {
  position: absolute;
  right: 12px;
}
.login-form .separator {
  margin: 8px 0;
  position: relative;
}
.login-form .error-separator {
  margin-top: 8px;
  position: relative;
}
.login-form .error-text {
  width: 100%;
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 14px;
}
.login-form .error-text span {
  color: #e32636;
  text-align: left;
}
@media only screen and (min-width: 350px) {
  .login-form .required::after {
    content: "*";
    color: #e32636;
    position: absolute;
    right: -18px;
    top: 0;
  }
}
@media only screen and (max-width: 350px) {
  .login-form .required:has(input:placeholder-shown) .eye, .login-form .required > input:placeholder-shown {
    border-color: #e32636;
  }
  .login-form .required:has(input:not(:placeholder-shown)) .eye {
    border-color: gray;
  }
}

.password-block {
  width: 100%;
  display: flex;
  align-items: stretch;
}
.password-block .password {
  width: 90%;
  border-radius: 6px 0 0 6px;
  border: 2px solid grey;
  border-right: none;
}
.password-block .eye {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #c4c4c4;
  border-radius: 0 6px 6px 0;
  border: 2px solid gray;
  border-left-style: none;
  box-sizing: border-box;
  cursor: pointer;
}

.another-links {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  font-size: 14px;
}
.another-links .link {
  display: flex;
  align-items: center;
  margin: 2px 0;
}
.another-links .left {
  text-align: left;
}
.another-links .right {
  text-align: right;
}
.another-links .back-link {
  text-decoration: none;
  color: blue;
}

/*# sourceMappingURL=authentication.css.map */
